Django
MySQL-python==1.2.3
South==0.7.6
Werkzeug==0.9.4
beautifulsoup4==4.3.2
django-bootstrap-toolkit==2.15.0
django-pipeline==1.3.14
django-tastypie
django-twitter-bootstrap==2.3.2
futures==2.1.4
greenlet==0.4.1
ipython==0.13.2
mimeparse==0.1.3
pyapns==0.4.0
python-dateutil==2.1
pyxdg==0.19
six==1.3.0
twilio==3.6.1
unittest2==0.5.1
whois==0.7
xmpppy==0.5.0rc1
Celery
python-memcached
boto
fabric
awscli
gunicorn
setproctitle

