Host github.com-api
	User git 
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_rsa.github.hellohaptik.api


Host github.com-athena
	User git
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_rsa.github.hellohaptik.athena
